.NavItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavItem a {
    color: rgb(75, 30, 30);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active{
    color: rgb(29, 7, 92);
}

@media(min-width: 500px) {
    .NavItem{
        margin: 0;
        width: auto;
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .NavItem a{
        color: white;
        height: 100%;
        padding: 15px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active{
        background-color: tomato;
        color: white;
    }
}